<%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class ="header">
    <h1>タイトルロゴ</h1>
</div>
        
    <div class ="main">
        <%= link_to("詳細一覧","/syosai") %>
        <%= link_to("写真一覧","/photo") %>
        <%= link_to("各国の情報","/country") %>
        <%= link_to("記事詳細","/home/article") %>
        <%= link_to("ログイン","/home/login") %>
        </div>
    <div class ="footer">
        <%= link_to("次のページ","next") %>
        </div>